<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="AWSAccessKey" value="YOUR_ACCESS_KEY"/>
    <add key="AWSSecretKey" value="YOUR_SECRET_KEY"/>-->
    <add key="AWSProfileName" value="DavidMyersGS"/>
    <add key="AWSRegion" value="us-west-2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MaxSQSRetries" value="5"/>
    <add key="AWSQueueSKU_UPSERT" value="TGK_GME_SKUUpsert_V1"/>
    <add key="AWSDeadLetterQueueSKU_UPSERT" value="TGK_GME_SKUUpsertDL_V1"/>
    <add key="WMIServiceURLSKU_UPSERT" value="http://localhost:52476/api/sku"/>
    <add key="BatchSize" value="5"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
